$x1: #19B5FE;
$x2: #222222;
$x3: #505050;
$x4: #B9B9B9;
$x5: #4E4E4E;
$x6: rgb(240, 240, 240);
$x7: rgb(57, 57, 57);
$x8: #00B063;
$x9: #D9D9D9;
$x10: #707070;
$x11: #EAD727;
$x12: #4E4E4E;
$x13: #929292;
$x14: #1F1F1F;
$x15: #E4E4E4;
$x16: #00B063;
$x17: #676767;
$x18:var(--success);
$x19: var(--danger);
