@import "colors";

.Alert {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 10px;
  right: 10px;
  margin-left: 20px;
  justify-content: flex-start;
  height: auto;
  width: auto;
  z-index: 999;
}

.alert-wrapper {
  animation: show_slide .4s ease-in-out forwards;
  padding: 20px 40px;
  border-radius: 0;
  z-index: 200;
  opacity: 1;
  cursor: pointer;
  margin: 5px 0;

  &.hide {
    animation: hide_slide .3s ease forwards;
  }

  & .bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    z-index: 200;
    background-color: $x6;
  }

  &.success {
    background: $x18;

    & .msg, & .check, & .close-btn {
      color: $x6;
    }
  }

  &.error {
    background: $x19;

    & .msg, & .check, & .close-btn {
      color: $x6;
    }
  }


  & .check {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
  }

  & .msg {
    padding: 0 10px 0 20px;
    font-size: 15px;
    white-space: pre-wrap;
    margin: 0;
  }

  & .close-btn {
    background-color: transparent;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}


@keyframes show_slide {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-5px);
  }
}


@keyframes hide_slide {
  0% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(100%);
  }
}