@import "colors";


.action .profile {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.profile .welcome{
  @media (max-width: 767.98px) {
    display: none;
  }
}

.action .angle {
  color: white;
  transition: .2s;
  margin-right: 10px;

  &.rotate {
    transform: rotate(180deg);
  }
}

.action .menu {
  position: absolute;
  top: 120px;
  left: 30px;
  padding: 10px 15px;
  background-color: #ffffff;
  box-shadow: 0 5px 25px rgba(0, 0, 0, .1);
  transition: .2s;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0;
  z-index: 1;

  &.active-menu {
    top: 80px;
    opacity: 1;
    visibility: visible;
  }

  &::before {
    content: "";
    position: absolute;
    top: -3px;
    left: 28px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    transform: rotate(45deg);
  }
  & ul a:hover{
    color: $x1;
  }

  & ul li {

    & a {
      color: $x2;
      transition: .2s;
      padding: 15px 10px;
      display: flex;
      align-items: center;
    }

    & i {
      margin-left: 10px;
    }
  }
}
