@import "_colors.css";

.header {
  height: 70px;
  background-color: transparent;
  width: 100%;
  z-index: 100;
  transition: .2s;
}

.navBar {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 30px;
  @media (max-width: 766.98px) {
    padding: 0 15px;
  }


  & .navBar-item {
    display: flex;
    align-items: center;
    height: 100%;

    & > li {
      margin: 0 15px;
      position: relative;

      & a {
        padding: 18px 10px;
        color: $x4;

        &:after {
          content: "";
          position: absolute;
          top: 100%;
          right: 0;
          height: 2px;
          width: 0;
          background-color: $x1;
          transition: .3s ease;
        }

        &:hover:after {
          width: 100%;
        }

        &.active {
          color: $x1;

          &:after {
            content: "";
            position: absolute;
            width: 100%;
            right: 0;
            top: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $x1;
          }
        }
      }
    }
  }
}

.login-btn {
  background-color: $x5;
  border-radius: 35px;
  width: 98px;
}

///*panelHeader*/
.panel-header {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  background-color: $x2;
  padding-right: 0;
  height: 70px;
  z-index: 90;
}

.panel-navBar {
  display: flex;
  align-items: center;
  height: 100%;
  padding-right: 0;
  padding-left: 30px;

  @media (max-width: 991.98px) {
    padding: 0 15px;
  }

  & .panel-logo {
    width: 300px;
    background-color: $x7;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 991.98px) {
      width: auto;
      background-color: transparent;
    }

  }

}

